* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.App {
    min-height: 100vh;
    background-color: rgb(104, 139, 170);
}

/*Main component*/
.main_container {
    background-color: rgb(104, 139, 170);
}

.img_board {
    display: grid;
    grid-template: 1fr 1fr / repeat(4, 1fr) ;
}

.img_container {
    display: flex;
    justify-content: center;
}

.img_container:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition: all 0.5s;
}

img {
    max-width: 80%;
}

/*Navbar Component*/

.navbar_container {
    background-color: rgb(104, 139, 170);
    color: aliceblue;
    padding: 2%;
    display: flex;
    align-items: center;
}

.title_container {
    font-size: larger;
    display: grid;
    gap:10%;
}

.points_container {
    margin-left: auto;
    font-size: 2rem;
}

/*Lose component*/

.lose_container {
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: rgb(104, 139, 170);
    color: rgb(225, 230, 193);
    width: 100vw;
    height: 100vh;
}

.lose_message {
    display: grid;
    align-items: center;
    justify-items: center;
}

.lose_message>button {
    padding: 6%;
    font-size: large;
    font-weight: 700;
    border: 1px solid rgb(177, 167, 167);
    border-radius: 16px;
    background-color: rgb(225, 230, 193);
    color: rgb(104, 139, 170);
    cursor: pointer;
}

.lose_message>button:hover {
    background-color: rgb(104, 139, 170);
    color: rgb(225, 230, 193);
}